@model IEnumerable<AUSMDM.Models.MonthlyBillingClass>

<h1>Monthly Billing</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MSNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POCSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tariff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KWH_IMPORT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POCSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tariff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KWH_IMPORT)
            </td>
        
        </tr>
}
    </tbody>
</table>
